<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724908073542-ttfo2v61gmp8nj0u9nqn25sg8b24k6es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724908073542-ttfo2v61gmp8nj0u9nqn25sg8b24k6es</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>724908073542-3s8t2tstus7ctt7ilgnms17e70rocbet.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-xO7H-QRi1qUPeLXYbOMwfDXUEzShDsw</string>
	<key>GCM_SENDER_ID</key>
	<string>724908073542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiringtek.login</string>
	<key>PROJECT_ID</key>
	<string>login-auth-2bbef</string>
	<key>STORAGE_BUCKET</key>
	<string>login-auth-2bbef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724908073542:ios:0849482ea97b1a64626047</string>
</dict>
</plist>